<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Hello React!</title>
</head>

<body>
    <div id="application"></div>

    <!-- Dependencies -->
    <script src="<%= reactJs %>"></script>
    <script src="<%= reactDomJs %>"></script>
</body>

</html>